<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class=" box-shadow-menu">
        <span>HR</span> User
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" navbar-nav mr-auto">

        </ul>

        <ul class=" navbar-nav mr-auto">
            <li>
                <a class="nav-link">Language</a>
            </li>
            <li>
                <a class="lang blue nav-link">English</a>
            </li>
            <li>
                <a class="lang cyan nav-link">عربي</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link "><i class="fa fa-envelope fa-2x"></i></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link "><i class="fa fa-question-circle fa-2x"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link "><i class="fa fa-cog fa-2x"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link "><i class="fa fa-caret-down fa-2x"></i></a>
            </li>
        </ul>

    </div>
</nav>
