<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="logo"></div>
        </div>

        <ul class="list-unstyled components">
            <h2>Ahmed</h2>
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Payoll</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">MyPayslip</a>
            </li>
            <li>
                <a href="#">My Loans</a>
            </li>
            <li>
                <a href="#">My Profile</a>
            </li>

            <li>
                <a href="#">Reports</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
            <li>
              <a href="#" class="websites">WebSites</a>
          </li>
            <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook-f"></i></a>

            </div>
        </ul>
    </nav>

</div>
